firmware/tofe-lowspeedio.X/build/default/
firmware/tofe-lowspeedio.X/dist/default/
firmware/tofe-lowspeedio.X/nbproject/Makefile-default.mk
firmware/tofe-lowspeedio.X/nbproject/Makefile-genesis.properties
firmware/tofe-lowspeedio.X/nbproject/Makefile-impl.mk
firmware/tofe-lowspeedio.X/nbproject/Makefile-local-default.mk
firmware/tofe-lowspeedio.X/nbproject/Makefile-variables.mk
firmware/tofe-lowspeedio.X/nbproject/Package-default.bash
firmware/tofe-lowspeedio.X/nbproject/private/
